body {
  margin: 0;

  font-family: 'Montserrat', 'Roboto', sans-serif;
}

:root {
  --color-text-primary: #2c3e4f;
  --color-text-secondary: #8e969b;
  --color-text-white: #ffffff;

  --color-border-card-shadow: rgba(0, 0, 0, 0.25);
  --color-discount-background-blue: #298eeb;
  --color-discount-background-dark-blue: #4149ff;

  --text-size-xs: 10px;
  --text-size-s: 11px; 
  --text-size-m: 12px;
  --text-size-l: 14px;

  --text-weight-s: 400;
  --text-weight-m: 500;
  --text-weight-l: 600;

  --border-radius: 10px;

  --text-line: 2.3;
}
